
<div class="sidebar">
  <app-sidebar></app-sidebar>
</div>

<div class="resultados-container">
  <!-- Barra de pesquisa -->
  <h3>Informa Search</h3>

  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="termo"
      (keyup.enter)="pesquisarNovamente()"
      placeholder="Pesquise no Informa Search ou digite uma URL"
    />
  </div>

  <!-- Lista de notícias -->
  <div *ngFor="let noticia of noticias" class="result-item">
    <!-- Título da notícia -->
    <h2 class="result-title">
      <a [href]="noticia.link" target="_blank">{{ noticia.title }}</a>
    </h2>

    <!-- Descrição da notícia -->
    <p class="result-description">
      {{ noticia.description | slice: 0: 200 }}...
    </p>



    <!-- Informações adicionais -->
    <div class="source-info">
      <img
        *ngIf="noticia.faviconUrl"
        [src]="noticia.faviconUrl"
        alt="Ícone do site"
        class="favicon"
      />
      <a [href]="noticia.link" target="_blank" class="source-link">{{ noticia.link }}</a>
    </div>
    <!-- Link para a notícia -->
    <a [href]="noticia.link" class="result-link" target="_blank">Leia mais</a>
  </div>

  <div class="pagination-container">
    <!-- Paginação PrimeNG -->
    <p-paginator
      [rows]="pageSize"
      [totalRecords]="totalItems"
      [rowsPerPageOptions]="[5, 10, 20]"
      (onPageChange)="onPageChange($event)"
      styleClass="custom-paginator"
    ></p-paginator>
  </div>

  <!-- Exibição caso não haja resultados -->
  <ng-template #noResults>
    <p>Nenhum resultado encontrado para "{{ termo }}".</p>
  </ng-template>
</div>
