<app-sidebar></app-sidebar>
<div class="login-container">
  <div class="login-box">
    <h1>Template</h1>
    <table class="login-table">
      <tr>
        <td><label for="login">Login</label></td>
        <td>
          <input
            type="text" id="login" placeholder="Digite seu login"class="input" />
        </td>
      </tr>
      <tr>
        <td><label for="senha">Senha</label></td>
        <td>
          <input
          type="password" id="senha"placeholder="Digite sua senha"class="input" />
        </td>
      </tr>
    </table>
    <button class="btn">Entrar</button>
  </div>
</div>
