<app-sidebar></app-sidebar>
<div class="container">
  <h2>Adicionar feed Rss</h2> 
  <div class="buttons">
    <button class="secondary-button">Cancelar</button>
    <button class="primary-button">Salvar</button>
  </div>
  <hr>
    <div class="tab-content">

      <div class="form">
        <div class="field">
          <label for="rssUrl">Adicionar Feed RSS:</label>
          <input id="rssUrl" type="text" placeholder="Digite o  Feed RSS" />
        </div>
        <div class="field">
          <label for="categoria">Categoria:</label>
          <input id="categoria" type="text" placeholder="Digite a categoria" />
        </div>
      </div>
    </div>


 
</div>
