<div class="pesquisa-container">
  <h1>Informa Search</h1>

  <!-- Barra de busca com termo e categoria -->
  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="termoBusca"
      (keyup.enter)="buscarNoticias()"
      placeholder="Pesquise no Informa Search ou digite uma URL"
    />

    <select [(ngModel)]="categoriaSelecionada">
      <option value="">Todas as Categorias</option>
      <option *ngFor="let categoria of categorias" [value]="categoria">{{ categoria }}</option>
    </select>

    <button (click)="buscarNoticias()" class="search-button">
      Buscar
    </button>
  </div>
</div>
