<app-sidebar></app-sidebar>
<div class="pesquisa-container">
  <h1>Informa Search</h1>

  <!-- Barra de busca com termo e categoria -->
  <div class="search-bar">
    <input
      type="text"
      [(ngModel)]="termoBusca"
      (keyup.enter)="buscarNoticias()"
      placeholder="Pesquise no Informa Search ou digite uma URL"
    />

    <select [(ngModel)]="categoriaSelecionada" class="categoria-select">
      <option value=""><strong> Todas as Categorias </strong></option>
      <option *ngFor="let categoria of categorias" [value]="categoria"><strong>{{ categoria }}</strong> </option>
    </select>

    <button (click)="buscarNoticias()" class="search-button">
     <strong> Buscar </strong>
    </button>
  </div>
</div>
